<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= content_for(:title) || "Watch List" %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "assets/navbar" %>
    <main class="app-main">
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
